@use '../../../styles/theme.scss' as theme;
@use '../../../styles/card.scss';

.card {
  display: none;
  position: fixed;
  left: 50%;
  top: theme.$headerHeight + 10px;
  width: calc(100% - 20px);
  height: calc(100% - (theme.$headerHeight + 20px));
  transform: translate3d(-50%, calc(100% - 60px), 0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
  z-index: 2;
  border: 1px solid theme.$secondaryColor;
  
  &.deployed {
    transform: translate3d(-50%, 0, 0);
  }

  .title {
    .toggle {
      position: absolute;
      display: block;
      top: 0;
      right: 20px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .content {
    height: calc(100% - 50px);
    overflow: auto;
  }

}

@media screen and (max-width: 768px) {
  .card {
    display: block;
  }
}