@import '../../../styles/theme.scss';
@import '../../../styles/card.scss';

.viewer {
  width: calc(100% - $prefSelectionWidth);

  .chart {
    height: calc(100% - 50px);
    padding: 20px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .viewer {
    width: 100%;
    height: calc(100% - 100px);
    overflow: auto;
  }
}