@import '../../../styles/theme.scss';

.chartViewer {
  background: $backgroundColor;
  border-radius: $borderRadius;
  box-shadow: $cardShadow;
  min-height: 500px;

  .title {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
  }
  .chart {
    padding: 20px;
    padding-top: 0px;
  }
}