$bodyColor: var(--body-color);
$primaryBgColor: var(--primary-bg-color);
$secondaryBgColor: var(--secondary-bg-color);
$transparentBgColor: var(--transparent-bg-color);
$borderColor: var(--border-color);
$fontColor: var(--font-color);
$skeletonColor: rgba(0, 0, 0, 0.01);

$primaryColor: rgb(0, 218, 127);
$secondaryColor: #00dad8;

// Element styles
$cardShadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
$cardRadius: 20px;
$border: 1px solid $borderColor;

// Sizing
$headerHeight: 70px;
$prefCardWidth: 400px;
