@use '../../../styles/theme.scss' as theme;
@use '../../../styles/card.scss';

.card {
  width: theme.$prefCardWidth;
}

@media screen and (max-width: 1000px) {
  .card {
    width: calc(theme.$prefCardWidth/2);
  }
}

@media screen and (max-width: 768px) {
  .card {
    display: none;
  }
}

