@use '../../styles/theme.scss' as *;

.button {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 20px;
  background: whitesmoke;

  &.primary {
    background: $primaryColor;
    border-radius: 10px;
    border: none;
  }
}