@use 'node_modules/@fortawesome/fontawesome-svg-core/styles.css';

@use './styles/theme.scss' as theme;
@use './styles/reset.scss';

// Colors
:root {
  --body-color-light: whitesmoke;
  --body-color-dark: #191b2b;
  --primary-bg-color-light: white;
  --primary-bg-color-dark: #252736;
  --secondary-bg-color-light: rgba(0, 0, 0, 0.05);
  --secondary-bg-color-dark: rgba(255, 255, 255, 0.05);
  --transparent-bg-color-light: rgba(255, 255, 255, 0.4);
  --transparent-bg-color-dark: rgba(0,  0, 0, 0.4);
  --font-color-light: rgb(70, 70, 70);
  --font-color-dark: rgb(197, 197, 197);
  --border-color-light: #e6e6e6;
  --border-color-dark: #3d3d3d;

  --body-color: var(--body-color-light);
  --primary-bg-color: var(--primary-bg-color-light);
  --secondary-bg-color: var(--secondary-bg-color-light);
  --transparent-bg-color: var(--transparent-bg-color);
  --font-color: var(--font-color-light);
  --border-color: var(--border-color-light);
}


html, body {

  background: theme.$bodyColor;

  main {

    h2 {
      color: theme.$primaryColor;
      text-align: center;
    }

    h3 {
      color: theme.$primaryColor;
    }

    h4 {
      color: theme.$secondaryColor;
    }

  }
}
