@import './styles/theme.scss';
@import './styles/card.scss';

.main {
  display: flex;
  gap: 40px;
  padding: 40px;
  padding-top: calc($headerHeight + 40px);
  height: 100%;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 10px;
    padding-top: calc($headerHeight + 10px);
    flex-direction: column;
    overflow: auto;
  }
}