@use '../../../styles/theme.scss' as theme;
@use '../../../styles/card.scss';

.card {
  position: relative;
  width: calc(100% - theme.$prefCardWidth);

  .content {
    .chart {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      &.skeleton {
        background: theme.$skeletonColor;
      }
    }
  }

}

// Medium width device
@media screen and (max-width: 1400px) {
  .card {
    .content {
      .chart {
        height: calc(100% - 70px);
      }
    }
  }
}

// Small with device
@media screen and (max-width: 1000px) {
  .card {
    width: calc(100% - (theme.$prefCardWidth/2));
  }
}

// Mobiles
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: calc(100% - 70px);
    overflow: auto;
    
    .content {
      .controls {
        display: none;
      }
      .chart {
        height: 100%;
      }
    }
  }
}