@use '../../../styles/theme.scss' as theme;
@use '../../../styles/card.scss';

.prefectures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  
  .prefecture {
    background: theme.$skeletonColor;
    width: calc(50% - 10px);
    height: 40px;
    padding: 0px 20px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .prefectures {
    .prefecture {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .prefectures {
    .prefecture {
      width: calc(50% - 5px);
    }
  }
}