@use '../../../styles/theme.scss' as theme;
@use '../../../styles/card.scss';


.prefectures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  
  .prefecture {
    background: rgba(0, 0, 0, 0.05);
    width: calc(50% - 10px);
    height: 30px;
    padding: 0px 20px;
    border-radius: 10px;
  }
}

