@use '../../../styles/theme.scss' as theme;

.button {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 20px;
  background: whitesmoke;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: auto;

  &.primary {
    background: theme.$secondaryColor;
    border-radius: 10px;
    border: none;

    &:hover {
      background: theme.$primaryColor;
    }
  }
}