@use '../../../styles/theme.scss' as theme;

.button {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 20px;
  background: theme.$secondaryBgColor;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
  outline: none;
  border: 1px solid theme.$secondaryColor;
  border-radius: 10px; 
  color: theme.$fontColor;

  &:hover {
    color: theme.$secondaryColor;
  }

  &.primary {
    background: theme.$secondaryColor;
    color: white;

    &:hover {
      background: theme.$primaryColor;
    }
  }
}