@import '../../../styles/theme.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  background: rgba(0, 0, 0, 0.05);
  height: 30px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    color: $primaryColor;
  }

  &.active {
    background: $primaryColor;
    &:hover {
      color: black;
    }
  }
}