@use '../../../styles/theme.scss' as theme;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  background: theme.$secondaryBgColor;
  height: 40px;
  border-radius: 10px;
  width: calc(50% - 5px);
  cursor: pointer;
  border: none;
  outline: none;
  color: theme.$fontColor;
  font-size: 18px;
  border: theme.$border;

  &:hover {
    color: theme.$secondaryColor;
    border-color: theme.$secondaryColor;
  }

  &.active {
    background: theme.$secondaryColor;
    color: white;
    font-size: 20px;
    &:hover {
      color: white;
    }
  }
}

@media screen and (max-width: 1000px) {
  .button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: calc(50% - 5px);
  }
}