@import '../../../styles/theme.scss';

.group {
  height: 100%;
  background: $secondaryBgColor;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid $secondaryColor;
  
  .categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .category {
      display: flex;
      align-items: center;
      position: relative;
      flex: 1 1 auto;
      padding: 0px 10px;
      cursor: pointer;
      height: 100%;
      border-radius: 10px;
      font-size: 18px;
      color: $fontColor;
      width: 150px;
      text-align: center;
      justify-content: center;

      &:hover {
        color: $secondaryColor;
      }

      &.active {
        background: $secondaryColor;
        pointer-events: none;
        color: white;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        font-size: 20px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .group {
    height: auto;
    .categories {
      flex-wrap: wrap;
      gap: 10px;
      .category {
        width: 50%;
        height: 50px;
        border: $border;
      }
    }
  }
}