@import '../../../styles/theme.scss';
@import '../../../styles/card.scss';

.selection {
  width: $prefSelectionWidth;
  overflow: auto;

  .title {
    .toggle {
      display: none;
    }
  }

  .prefectures {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    
    .prefecture {
      background: rgba(0, 0, 0, 0.05);
      width: calc(50% - 10px);
      height: 30px;
      padding: 0px 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .selection {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: calc(100% - 20px);
    height: 100%;
    transform: translate3d(-50%, 90%, 0);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);

    &.deployed {
      transform: translate3d(-50%, 70px, 0);
    }

    .title {
      .toggle {
        position: absolute;
        display: block;
        top: 0;
        right: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}